body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    Helvetica, Arial, sans-serif, times;
  color: #000;
  background: #fcfcfc;
  max-width: 100%;
}
body.dark {
  background-color: #111111;
  color: #fcfcfc;
}
main {
  padding-top: 5em;
}
.index,
section-title,
#pageTitle {
  font-family: "Courier New", Courier, monospace, "Georgia", "Times New Roman",
    Times, serif;
}
section-title {
  font-size: 110%;
  color: #ee7248;
}
/*details*/
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
details[open] {
  padding: 0.5em;
}
details[open] > summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}
/*bars*/
bar {
  position: absolute;
  right: 0;
  background: #f15c2a;
  width: 100%;
  color: #fff;
  line-height: 28px;
  align-items: center;
}
body.dark bar {
  background-color: #333333;
}
bar a {
  color: #fff;
  text-decoration: none;
}
body.dark bar a {
  color: #fff;
}
/*  header*/
#header {
  font-weight: bold;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  height: 3em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}
#header .button:hover {
  cursor: pointer;
  background-color: #b13e17;
}
#header .item * {
  vertical-align: middle;
}
#header .item {
  height: 100%;
  box-sizing: border-box;
  padding: 0.3em 0.75em;
}
body.dark #header .button:hover {
  background-color: #515151;
}
/*  footer*/
#footer {
  height: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  -webkit-transform: translateY(55%);
  transform: translateY(55%);
}
#footer p,
#footer h2,
#footer a {
  padding: 0 10px;
  text-align: center;
}
#footer p {
  max-width: 550px;
  text-align: left;
}
#footer-socials {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin-block-end: 1em;
}
#subfooter {
  background: #000;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 0;
}
/*links*/
@keyframes imHere {
  100% {
    color: #00dc0f;
  }
}
a {
  color: #ff5300;
}
a:hover {
  animation: imHere 3s linear 1 alternate-reverse;
}
li {
  margin-bottom: 0.7em;
}
/*other*/
.small {
  font-size: 75%;
}
/*math*/
.math {
  width: 100px;
  border-color: #ccc;
  margin-top: 14px;
  box-shadow: inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.05);
  max-width: 100%;
  background-color: #fff;
  border-color: #000;
  border-radius: 4px;
  color: #363636;
}
[type="submit"].math:hover,
button.math:hover {
  cursor: pointer;
  background-color: #f15c2a;
  border-color: #bb9d3c;
  color: #fff;
}
.warning {
  font-size: 125%;
  margin-left: 20px;
  color: #c70039;
}
.output {
  font-size: 125%;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  margin: 0;
}

input[type="checkbox"]:checked {
  background-color: #f15c2a;
  border-color: #f15c2a;
}
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 33.3%;
  height: 60%;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
label {
  padding: 0.4em;
  display: inline-block;
}
/*Scratch-likely button, i is placed like this: <a data-placement="left" href="https://github.com/ScratchCE/beta"> <button class="button"><span>GitHub Repository</span></button></a>*/
/*.button {
display: inline-block;
margin: 0.5em 0;
border: 0;
border-radius: 0.5rem;
background-color: #ff5300;;
cursor: pointer;
padding: 1em 1.25em;
color: #fff;
font-size: .8rem;
font-weight: bold;}
        .button:hover{background-color: #00dc0f;}*/
