{{define "main"}}
<section>
  <section-title>
    <h1>Sobre mí</h1>
  </section-title>
  <p class="paragraph">
    Bueno, a mí me apasionan muchas cosas. Pero, sobre todo, aprender. Es como me he configurado: es
    lo que me gusta hacer. En general, me gusta estar dispuesto a apreder de los demás. En ese
    sentido, escuchar lo que otro tenga que decir, y tratar de convencerme, incluso si no comparte
    mis códigos.
  </p>
  <p class="paragraph">
    Me interesan varios temas, aunque suelen estar nucleados en la informática. No directamente a
    utilizarla, sino que se relacionen con ella. Estoy haciendo esta página, lo que significa que me
    interesa la programación web. Eso lo hago como hobbie, incluso si esto es parte de una
    actividad. En mi tiempo libre, también hago gimnasia deportiva, porque me encanta cómo combina
    la practicidad de los deportes con la tecnicidad que puede traer un movimiento. Es asombroso
    cómo llega a un balance entre ellas. Me interpela porque yo no soy bueno en lo extremadamente
    práctico ni en lo deportivo-social, es decir, la coordinación con un equipo en ecuaciones de
    resolución rápida.
  </p>
  <p class="paragraph">
    Soy Santino Alfreo Riondotto Paná, un humano. Nací en 2008, en Argentina. Sigo viviendo allí. Me
    crié en libertad y, a través de ella, me desarrollé para la decisión. No fui aceptado realmente
    en mi escuela primaria. En mi escuela secundaria me adapté mejor, obtuve amigos, y también
    desarrollé un carácter responsable y comprometido profundamente con las cosas de las que soy
    parte.
  </p>
  <img class="infobox" src="{{ absURL "imgs/hexperience.svg" }}" alt="Hexperiencia"
  style="max-width: 400px;" />
  <p class="paragraph">
    Fue en 2019 cuando me metí en la informática, con un curso de robótica básica, pero que tenía
    días en los que utilizábamos Scratch, en los que me asombraba y me lucía. De ahí en más, seguí
    utilizándolo para hacer cosas mucho más avanzadas. En 2021 me uní a la Comunidad de Scratch
    Addons, una extensión de navegador que permite utilizar Scratch de forma más avanzada. No sabía
    nada de JS, CSS, HTML, la construcción de Scratch ni programación en general, por lo que no
    aporté demasiado a eso, aunque sí hice varias traducciones. Consideraría a varios de los
    compañeros de esa comunidad como amigos. Era necesario tener conversaciones con la comunidad,
    por lo que la experiencia disparó a una liga completamente distinta mi conocimiento en inglés.
    En 2022, siguiendo el hecho de que estaba muy interesado en los videojuegos, hice un curso
    básico de Unity, el motor de videojuegos. Lamentablemente, mi computadora era bastante débil,
    así que no tuve una muy buena experiencia tratando de utilizarlo. Tampoco me encantó el entorno.
    En 2024, estuve muy ocupado con mi participación en el centro de estudiantes de mi escuela, por
    lo que tan solo comencé el Python for Everbody de Charles Severance. En el 2025, en cambio,
    comencé el CS50x, de Harvard.
  </p>
  <p class="paragraph">En el futuro, planeo continuar aprendiendo, ¡hasta morir!</p>
</section>
{{end}}
