{{define "head-extra"}} <link rel="stylesheet" href="{{ absURL "css/portfolio.css" }}" /> {{end}}
{{define "main"}}
<section class="monospace">
  <section-title>
    <h1 id="pageTitle">Experiencia y formación</h1>
  </section-title>
  <h2 class="fancy-right">Formación académica</h2>
  <ul class="resume-list">
    <li>
      <a href="https://www.famaf.unc.edu.ar" class="institution silent">
        UNC-FAMAF</a
      >
      — <span class="degree">Ingreso universitario</span><br />
      <span class="time">8 2025 - En curso</span><br />
      <span class="description"
        >Curso de ingreso a la Facultad de Matemática, Astronomía, Física y Computación de la
        Universidad Nacional de Córdoba.</span
      >
    </li>

    <li>
      <span class="institution">WorldHouse</span> —
      <span class="degree">Teens 5 (B1 Preliminary for Schools)</span><br />
      <span class="time">3 2025 - En curso</span><br />
      <span class="description"
        >Clases de Inglés en una academia. Cursando para tomar el B1 Preliminary for Schools (PET)
        de Cambridge.</span
      >
    </li>

    <li>
      <a
        href="https://www.lasmercedesunquillo.com.ar/index.php"
        class="institution silent"
        >Instituto Nuestra Señora de las Mercedes</a
      >
      — <span class="degree">Nivel secundario con orientación en informática</span><br />
      <span class="time">2 2020 - En curso</span><br />
      <span class="description">Nivel secundario con orientación en informática.</span>
    </li>

    <li>
      <span class="degree">Clases conversacionales de inglés</span><br />
      <span class="time">7 2022 - 4 2023</span><br />
      <span class="description">Clases virtuales individuales de inglés con María José Ochoa.</span>
    </li>
  </ul>

  <h2 class="fancy-right">Formación técnica e informática</h2>
  <ul class="resume-list">
    <li>
      <a href="https://www.harvard.edu" class="institution silent"
        >Harvard University</a
      >
      — <span class="degree">CS50x</span><br />
      <span class="time">4 2025 - En curso</span><br />
      <span class="description"
        >Curso integral de introducción a las ciencias de la computación.</span
      >
    </li>

    <li>
      <a href="https://www.unc.edu.ar" class="institution silent"
        >Universidad Nacional de Córdoba</a
      >
      — <span class="degree">Inteligencia Artificial: Empezar a Pensar(la)</span><br />
      <span class="time">3 2025 - 4 2025</span><br />
      <span class="description"
        >Curso de 40 horas sobre las bases históricas y filosóficas de la Inteligencia
        Artificial.</span
      >
    </li>

    <li>
      <a href="https://www.dr-chuck.com" class="institution silent"
        >Charles Severance</a
      >
      — <span class="degree">Python for Everybody</span><br />
      <span class="time">7 2024 - 6 2025</span><br />
      <span class="description"
        >Curso básico de Python ofrecido por Charles Severance, profesor de la University of
        Michigan.</span
      >
    </li>

    <li>
      <a href="https://iita.com.ar" class="institution silent">ITTA</a> —
      <span class="degree">Programación de videojuegos en Unity</span><br />
      <span class="time">1 2022 - 4 2022</span><br />
      <span class="description">Curso básico de Unity, un motor de videojuegos.</span>
    </li>

    <li>
      <span class="institution">Bits and Bots</span> — <span class="degree">Taller de Robótica</span
      ><br />
      <span class="time">4 2019 - 11 2019</span><br />
      <span class="description">Curso básico de introducción a la robótica con informática.</span>
    </li>
  </ul>

  <h2 class="fancy-right">Otras experiencias</h2>
  <ul class="resume-list">
    <li>
      <span class="degree">Abanderado Nacional del INSM</span><br />
      <span class="time">12 2024 - En curso</span><br />
      <span class="description"></span>
    </li>

    <li>
      <a href="https://oac.unc.edu.ar" class="institution silent"
        >Observatorio Astronómico de Córdoba</a
      >
      — <span class="degree">Pasantía estudiantil</span><br />
      <span class="time">8 2025</span><br />
      <span class="description">Pasantía estudiantil de 40 horas.</span>
    </li>

    <li>
      <span class="degree">Secretario general del Centro de Estudiantes del INSM</span><br />
      <span class="time">11 2023 - 11 2024</span><br />
      <span class="description"
        >Gran participación como secretario general, dejando una mejor organización para futuros
        grupos.</span
      >
    </li>

    <li>
      <span class="degree">Participación en Olimpiada Cordobesa de Matemática 2023</span><br />
      <span class="time">4 2023 - 6 2023</span><br />
      <span class="description"
        >Participé de las instancias escolares, zonales y provinciales de la Olimpiada Cordobesa de
        Matemática.</span
      >
    </li>
  </ul>
</section>
{{end}}
