{{define "head-extra"}} <link rel="stylesheet" href='{{ absURL "css/projects.css" }}' /> {{end}}
{{define "main"}}
<div class="container">
  <section-title>
    <h1>Mis proyectos</h1>
  </section-title>
  <p class="paragraph">
    Explore this stunning collection of images arranged in a dynamic masonry layout. Each image
    adapts perfectly to create a visually appealing grid that flows naturally across the page.
  </p>

  <div class="masonry">
    <div class="masonry-item">
      <a class="silent" href="https://github.com/rimopa/userstyles">
        <h3>Estilos CSS</h3>
      </a>
        <p>Estilos que sobreescriben sitios web para hacerlos ver mejor</p>
        <img src="https://raw.githubusercontent.com/rimopa/userstyles/main/myanimelist-wider-preview.png" alt="Frieren" />
    </div>
    <div class="masonry-item">
     <a class="silent" href='{{ "/juego" | relURL }}'>
      <h3>Problema Digital</h3>
    </a>
      <p>Un juego en Scratch hecho con unos compañeros en la escuela.</p>
      <img src='{{ absURL "imgs/problema-digital-preview.png" }}' alt="Problema Digital" />
    </div>
    <div class="masonry-item">
     <a class="silent" href='{{ "/screensaver" | relURL }}'>
      <h3>Salvapantallas</h3>
    </a>
      <p>Un salvapantallas hecho en JavaScript.</p>
      <img src='{{ absURL "imgs/screensaver-preview.png" }}'/>
    </div>
    <div class="masonry-item">
      <a class="silent" href="https://drive.google.com/file/d/1vNIdLNpFp79XZ2PZY2eh4mfVPfcA-Wsh/">
        <h3>Informe de Historia</h3>
      </a>
      <p>Un gran informe histórico producido con unos compañeros en la escuela.</p>
    </div>
    <div class="masonry-item">
      <a class="silent" href='{{ "/tools" | relURL }}'>
        <h3>Herramientas matemáticas</h3>
      </a>
      <p>Distintas herramientas matemáticas producidas en JavaScript.</p>
      <img src='{{ absURL "imgs/quadrels-preview.png" }}'/>
    </div>
    
  </div>
</div>
{{end}}
