<bar id="footer">
  <h2 title="Alfred Pan">Santino Rimondotto</h2>
  <p>
    Soy Santino Rimondotto, un estudiante al que le gustan estas cositas y
    aprovechó una página que había hecho antes para modificarla y convertirla en
    esta abominación.
  </p>
  <div id="footer-socials">
    <a title="Twitter para los amigos" href="https://twitter.com/RIMOPA0">X</a>
  </div>
  <div id="subfooter">
    <span>Nadie me pidió que haga esto.</span>
    <br />
    <span title="No sé qué más poner acá"> Gracias por ver </span>
  </div>
</bar>
