<bar id="footer">
  <div class="about">
    <h2 title="Alfred Pan">Santino Rimondotto</h2>
    <p id="footer-desc">
      I'm Santino Rimondotto, a student that likes these thingies and modified a previous page to create this.
    </p>
    <p id="footer-desc-es">
      Soy Santino Rimondotto, un estudiante al que le gustan estas cositas y modificó una página previa para convertirla en esto.
    </p>
    <div class="footer-socials">
      <a title="Twitter for friends" href="https://x.com/rimopa0" target="_blank" rel="noopener noreferrer">
        <img src="{{ absURL "imgs/x.svg"}}" alt="X">
      </a>
      </a>
      <a title="git gud" href="https://github.com/rimopa/" target="_blank" rel="noopener noreferrer">
        <img src="{{ absURL "imgs/github.svg"}}" alt="GitHub">
      </a>
    </div>
  </div>
  <div class="useful-links">
    <h3>Useful links</h3>
    <ul>
      <li><a href="{{"/" | relURL }}">Homepage</a></li>
      <li><a href="{{"/about" | relURL }}">About</a></li>
      <li><a href="{{"/privacy" | relURL }}">Privacy Notice</a></li>
    </ul>
  </div>
  <div class="sub-footer">
    <span>No one asked me to do [all of] this.</span>
    <br />
    <span title="I don't know what else to write here"> Thanks for visiting </span>
  </div>
</bar>
