<bar id="header">
  <a href="/index.html" class="item">
    <img
      title="Guau alta eskin"
      alt="Rimopa"
      draggable="false"
      src="/imgs/logo.png"
      height="30"
    />
  </a>
  <a class="button item" title="dark mode" onclick="toggleTheme()">
    <img
      src="/imgs/dark_theme.svg"
      height="24"
      draggable="false"
      alt="dark mode button"
    />
  </a>
  <a class="item" href="/tools"><span>Tools</span></a>
  <a class="item" href="/screensaver"><span>Screensaver</span></a>
</bar>
