<bar id="header">
  <a href="{{"/" | relURL }}" class="item">
    <img title="Guau alta eskin" alt="Rimopa" draggable="false" src="{{ absURL "imgs/logo.png" }}" height="30" />
  </a>
  <a class="button item" title="dark mode" onclick="toggleTheme()">
    <img src="{{ absURL "imgs/dark_theme.svg" }}" height="24" draggable="false" alt="dark mode button" />
  </a>
  <a class="item" href="{{"/tools" | relURL }}"> <span>Tools</span> </a>
  <a class="item" href="{{"/screensaver" | relURL }}"> <span>Screensaver</span> </a>
</bar>
