{{define "main"}}
<h1 title="undefined capitalization" class="undefinedCapitalization">rimopa</h1>
<h2 class="section-title" title="Subpáginas, tan solo eso">Subpáginas</h2>
<ul class="noticeToNormal index">
  <li title="Alottamath">
    <a href="/tools">Math things and other tools you may find useful</a>
  </li>
  <li>
    <a href="/juego" title="minifun">Jueguito en Scratch</a>
    <small>(minifun)</small>
  </li>
  <li>
    <a href="/screensaver" title="lot of js">A cool web screensaver</a>
    <small>
      with random generations, <small>tremndous lack of images</small>, and a ton of
      <span class="undefinedCapitalization">JavaScript</span>!</small
    >
  </li>
</ul>
<h2>There are no more subpáginas that I remember and want to add</h2>
{{end}}
